body {
    display: flex;
    flex-direction: column;

}

.header, .hero, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: space-around;
    align-items: baseline;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
}

.subhero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img {
    background-color: #E5E7EB;
}

.hero h2 {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}
.hero > div {
    color: #F9FAF8
}
.info {
    display: flex;
}
.info h3 {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
}

.info img {
    min-width: 150px;
    min-height: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    align-items: center;
    justify-content: center;
}

.quote span {
    color: black;
    font-style: normal;
    font-weight: 1000px;
    align-self: flex-end;
}

.signup {
    background-color: #3882F6;
    color: white;
}

.button {
    background-color: #3882F6;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}