body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}

button {
    border-radius: 5px;
}

.header, .hero, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    align-items: baseline;
    padding: 0 100px;
    justify-content: space-between;
}

.header h3 {
    justify-self: flex-start;
}

.header ul {
    justify-self: flex-end;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 20px;
}

.subhero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 50px 100px;
}

.hero .left {
    width: 50vw;
}

.hero .left > h2 {
    margin-bottom: 0px;
}
.hero .left > div {
    padding: 0;
}

.hero .right {
    background-color: #E5E7EB;
    width: 50vw;
    color: black;
}

.hero h2 {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

.hero > div {
    color: #F9FAF8
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 100px;
}

.info h3 {
    display: inherit;
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    flex-shrink: 0;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
    text-align: center;
}

.info img {
    min-width: 150px;
    min-height: 150px;
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 100px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#byline {
    color: black;
    font-weight: bold;
    font-style: normal;
    font-size: 24px;
    padding: 15px 0 0 0;
}

.signup {
    display: flex;
    background-color: #3882F6;
    color: white;
    margin: 50px;
    border-radius: 10px;
    align-items: baseline;
    justify-content: space-between;
}

.signup .text {
    flex-flow: column nowrap;
}

.signup button {
    background-color: #3882F6;
    color: white;
    border-color: white;
    border-style: none;
    border: 2px solid white;
    padding: 5px 30px;
    margin: 0 75px;
}

.button {
    background-color: #3882F6;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}