body {
  background-color: grey;
  color: purple;

}

.buttons {
  display: flex;

}

.calculator {
  background-color: darkslategray;
}

.buttons {
  background: darkslategrey;
  display: grid;
}
.buttons div {
  border: 1px solid black;
  color: white;
  font-size: 32px;
  font-weight: 600;
  padding: 1px;
}

.display {
  border: 1px solid black;
  background-color: darkslategray;
  color: black;
  font-size: 32px;
  font-weight: 600;
  text-align: right;
  padding-right: 5px;
}

.numbers {
  border: 1px solid black;
  background-color: darkblue;
  display: flex;
}

.numbers div {
  padding: 5px;
  border-radius: 5px;
  margin: 0;
  background-color: black;
}

#zero {
  padding: 14px 35px;
}
#point {
  padding: 14px 10px;
}
#equals {
  padding: 37px 0px;
}

.operators {
  border: none;
}

.operators > div {
  text-align: center;
  background: black;
}

.calculator {
  width: 300px;
  border: 5px solid black;
}