body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  display: flex;
  background: lightgrey;
}

.left img {
  width: 35vw;
  height: 100vh;
}

.right {
  width: 65vw;
}
.right .message {
  padding: 7rem 21rem 3rem 3rem;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.form {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
  gap: 20px;
  font-size: 12px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.signup {
  background: white;
  padding: 1rem 20rem 3rem 3rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-shadow: 0px 5px 10px -5px #111;
}

.letsdothis {
  font-size: 20px;
  font-weight: 600;
}
.form input {
  width: 66%;
  border-radius: 4px;
  border: 1px solid lightgrey;
  height: 1.5rem;
}
.form input:focus {
  box-shadow: 1px 1px 3px 3px grey;
}
.end {
  padding: 3rem 21rem 3rem 3rem;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#create {
  background-color: green;
  color: white;
  padding: 20px;
  width: 15rem;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600px;
  margin-bottom: 1.5rem;
}

.end a {
  color: green;
  text-decoration: none;
  font-weight: 600;
}