body {
    text-align: center;
    background: lightblue;
}
.center {
    display: flex;
    justify-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: none;
    margin-top: 5px;
    height: 480px;
    width: 480px;
}

.grid-container > div {
}
.grid-container > div:hover {
}

.hovered {
}

.square {
    background: white;
}

.colors > div {
    width: 48px;
    height: 48px;
}

.filled {
    
}