body {
    text-align: center;
    background-color: lightblue;
}
.center {
    display: flex;
    justify-content: center;
}
.grid-container {
    display: grid;
    grid-template-columns: none;
    margin-top: 5px;
    height: 960px;
    width: 960px;
}

.grid-container > div {
    transition: 2s;
}
.grid-container > div:hover {
    background-color: orange;
    transition: .05s;
}

.square {
    background-color: white;
}